body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.img-categoria {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.padding-primary {
  padding: 2% 20%;
}
.img-comunidad {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (width >= 992px) {
  .video-index {
    height: 430px;
    object-position: 50% 30%;
    object-fit: cover;
  }
}