.transicion :hover {
  background-color: gray !important;
}
@media (width <=992px) {
    .navM{
      display: flex;
      padding: 50px;
      font-size:20px ;
      border-right: #E3350D 2px;
    }
    .aNav{
    margin-right: 5px;
    margin-left: 0px;
    font-size: 20px;
    }
}